[Desktop Entry]
Name=Manage Auto-HotSpot
GenericName=Manage Auto-HotSpot
Comment=Install, configure or remove Auto-HotSpot
Exec=lxterminal --geometry=90x30 -t "Configure Auto-HotSpot" -e "/usr/local/bin/configure-autohotspot.sh"
Icon=/usr/share/icons/HighContrast/32x32/devices/network-wireless.png
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;GTK;X-LXDE-Settings;
Comment[en_US]=Manage Auto-HotSpot
